<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <link rel="stylesheet" href="/css/content/car_main.css">
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->
<div class="row">
    <div class="col">
        <div class="row text-center">
            <div class="col main-text">차량 관리 시스템</div>
        </div>
    </div>
</div>
<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <!-- <script src="/"></script> -->
</th:block>

</html>