<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/layout}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <!-- <link rel="stylesheet" href="/"> -->
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->
    <div class="row justify-content-center">
        <div class="col">
            <form action="/sales/insertSales" method="post">
                <table class="table table-borderless align-middle">
                   
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col text-end">
                                    구매자명
                                </div>
                            </div>
                        </td>
                        <td colspan="3">
                            <div class="row">
                                <div class="col-5">
                                    <input class="form-control" type="text" name="buyerName">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col text-end">
                                    색상
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-5">
                                    <select class="form-select" name="color">
                                        <option value="블랙" selected>블랙</option>
                                        <option value="화이트">화이트</option>
                                        <option value="실버">실버</option>
                                        <option value="레드">레드</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col text-end">
                                    모델
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-5">
                                    <select class="form-select" name="modelNum" id="">
                                        <th:block th:each="carInfo : ${carInfoList}">
                                            <option th:value="${carInfo.modelNum}">
                                                
                                                [[${carInfo.modelName}]]
                                            </option>
                                        </th:block>
                                        
                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col text-end">
                                    연락처
                                </div>
                            </div>
                        </td>
                        <td colspan="3">
                            <div class="row">
                                <div class="col-5">
                                    <input class="form-control" type="text" name="buyerTel">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <div class="row">
                                <div class="col offset-6 mt-3">
                                    <input class="btn btn-primary text-center" type="submit" value="등록">
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <!-- <script src="/"></script> -->
</th:block>
</html>