<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="adminMapper">

    <resultMap id="selectUpdate" type="com.green.Shop.item.vo.ItemVO">
        <id column="ITEM_CODE" property="itemCode"/>
        <result column="ITEM_NAME" property="itemName"/>
        <result column="ITEM_STOCK" property="itemStock"/>
        <result column="ITEM_STATUS" property="itemStatus"/>
        <association property="categoryVO" resultMap="itemMapper.category"/>
        <collection property="imgList" resultMap="image"/>
    </resultMap>

    <resultMap id="image" type="com.green.Shop.item.vo.ImgVO">
        <id column="IMG_CODE" property="imgCode"/>
        <result column="IS_NAME" property="isName"/>
        <result column="ORIGIN_FILE_NAME" property="originFileName"/>
        <result column="ATTACHED_FILE_NAME" property="attachedFileName"/>
    </resultMap>

    <select id="selectNextItemCode" resultType="int">
        SELECT IFNULL(MAX(ITEM_CODE), 0) + 1
        FROM SHOP_ITEM;
    </select>



    <insert id="insertItem">
        INSERT INTO SHOP_ITEM(
            ITEM_CODE
            ,ITEM_NAME
            ,ITEM_PRICE
            ,ITEM_INTRO
            ,CATE_CODE
        )VALUES(
            #{itemCode}
            ,#{itemName}
            ,#{itemPrice}
            ,#{itemIntro}
            ,#{cateCode}
        )
    </insert>

    <insert id="insertImgs">
        INSERT INTO ITEM_IMAGE(
            ORIGIN_FILE_NAME
            ,ATTACHED_FILE_NAME
            ,IS_NAME
            ,ITEM_CODE
        )VALUES
        <foreach collection="imgList" item="img" separator=",">
            (#{img.originFileName}
            ,#{img.attachedFileName}
            ,#{img.isName}
            ,#{img.itemCode})
        </foreach>
    </insert>
<!-- 구매 목록 조회(관리자용)-->
<!--    작다 < : &lt; less than-->
<!--    크다 > : &gt; great than-->
    <select id="selectBuyList" resultMap="buyMapper.shopBuy">
        SELECT BUY_CODE
            ,MEMBER_ID
            ,BUY_PRICE
            ,LEFT(BUY_DATE,11) BUY_DATE
        FROM SHOP_BUY
        WHERE 1 = 1
        <if test='searchText != null and !searchText.equals("")'>
            AND ${searchOption} LIKE CONCAT('%',#{searchText},'%')
        </if>
        <if test='from != null and !from.equals("")'>
            AND DATE_FORMAT(BUY_DATE, '%Y-%m-%d') &gt;= #{from}
        </if>
        <if test='to != null and !to.equals("")'>
            AND #{to} &gt;= DATE_FORMAT(BUY_DATE, '%Y-%m-%d')
        </if>
        ORDER BY BUY_CODE DESC
    </select>

    <select id="selectDetailBuyList" resultMap="buyMapper.shopBuy">
        SELECT D.BUY_CODE
        ,D.ITEM_CODE
        ,ITEM_NAME
        ,ATTACHED_FILE_NAME
        ,BUY_CNT
        ,MEMBER_ID
        ,TOTAL_PRICE
        ,LEFT(BUY_DATE,11) BUY_DATE
        ,BUY_PRICE
        FROM buy_detail D JOIN shop_item I
        ON D.ITEM_CODE = I.ITEM_CODE
        JOIN item_image IMA
        ON I.ITEM_CODE = IMA.ITEM_CODE
        JOIN shop_buy B
        ON B.BUY_CODE = D.BUY_CODE
        WHERE IS_NAME = 'Y'
        AND D.BUY_CODE = #{buyCode}
        ORDER BY BUY_CODE ASC
    </select>
    <!-- 관리자 페이지 정보변경 품목 리스트-->
    <select id="selectUpdateInfo" resultMap="itemMapper.item">
        SELECT ITEM.ITEM_CODE
            ,ITEM_NAME
            ,ITEM_STOCK
            ,ITEM_STATUS
            ,ATTACHED_FILE_NAME
            ,CASE
                WHEN ITEM_STATUS = 1 THEN '준비중'
                WHEN ITEM_STATUS = 2 THEN '판매중'
                ELSE '매진'
            END STR_STATUS
        FROM SHOP_ITEM ITEM JOIN ITEM_IMAGE IMAGE
    </select>
<!-- 관리자 페이지 상태변경 품목 리스트 클릭시-->
    <select id="clickItemInfo" resultMap="itemMapper.item">
        SELECT CATE_NAME
            ,CATE.CATE_CODE
            ,ITEM_NAME
            ,ITEM_STOCK
            ,ITEM_STATUS
            ,CASE
                WHEN ITEM_STATUS = 1 THEN '준비중'
                WHEN ITEM_STATUS = 2 THEN '판매중'
                ELSE '매진'
            END STR_STATUS
            ,ITEM.ITEM_CODE
            ,ORIGIN_FILE_NAME
            ,ATTACHED_FILE_NAME
            ,IMG_CODE
            ,IS_NAME
        FROM SHOP_ITEM AS ITEM
        JOIN item_category AS CATE
        ON ITEM.CATE_CODE = CATE.CATE_CODE
        JOIN item_image AS IMG
        ON ITEM.ITEM_CODE = IMG.ITEM_CODE
        WHERE ITEM.ITEM_CODE = #{itemCode};
    </select>

    <select id="cateName" resultMap="itemMapper.category">
        SELECT CATE_NAME
            ,CATE_CODE
        FROM ITEM_CATEGORY
    </select>

<!--    정보변경 업데이트 -->
    <update id="updateItem">
        UPDATE SHOP_ITEM
        SET CATE_CODE = #{cateCode}
            ,ITEM_STOCK = #{itemStock}
            ,ITEM_NAME = #{itemName}
            ,ITEM_STATUS = #{itemStatus}
        WHERE ITEM_CODE = #{itemCode}
    </update>
</mapper>
































