<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/layout}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <link rel="stylesheet" href="/css/content/sales_list.css">
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->

    <div class="row justify-content-center">
        <div class="col">
            <table class="table table-borderless align-middle">
                <tr>
                    <td rowspan="2">
                        <div class="row">
                            <div class="col">NO</div>
                        </div>
                    </td>
                    <td colspan="4">
                        <div class="row">
                            <div class="col">구매자정보</div>
                        </div>
                    </td>
                    
                    <td colspan="2">
                        <div class="row">
                            <div class="col">차량정보</div>
                        </div>
                    </td>
                    
                </tr>
                <tr>
                
                    <td>
                        <div class="row">
                            <div class="col">구매자명</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col">연락처</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col">구매일</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col">색상</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col">모델명</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col">금액</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            <div class="col"></div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col"></div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col"></div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col"></div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col"></div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col"></div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            <div class="col"></div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col"></div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col"></div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col"></div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col"></div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col"></div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col"></div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <script src="/"></script>
</th:block>
</html>