<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">

 <div class="row justify-content-center ">
    <div class="col-12">
        <div class="row header mb-5">
            <div class="col-3">
                <span onclick="location.href='/car/'">홈</span>
            </div>
            <div class="col-3">
                <span onclick="location.href='/car/carRegistration'">차량관리</span>
            </div>
            <div class="col-3">
                <span onclick="location.href='/car/salesInfo'">판매 정보 등록</span>
            </div>
            <div class="col-3">
                <span onclick="location.href='/sales/salesList'">판매 목록</span>
            </div>
        </div>
    </div>
</div>


<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<!-- <script src="/"></script> -->



</th:block>

</html>