<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">



    <th:block th:fragment="menuFragment">
        <h3>menu 파일입니다.</h3>
       <h3>메뉴html[[${name}]]</h3> 
        <ul>
            <li>
                메뉴1 
            </li>
            <li>
                메뉴2
            </li>
            <li>
                메뉴3
            </li>
            <li>
                메뉴4
            </li>
            <li>
                메뉴5
            </li>
            <li>
                메뉴6
            </li>
            <li>
                메뉴7
            </li>
        </ul>
            
    </th:block>
</html>